@import "./bootstrap.scss";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}


.page-content {
  min-width: 100vw;
  flex: 1 1 auto;
  .route-enter {
    &-from {
      opacity: 0;
      transform: translateY(-30px);
    }
    &-active {
      transition: all 0.3s ease-out;
    }
  }
  .route-leave {
    &-to {
      opacity: 0;
      transform: translateY(30px);
    }
    &-active {
      transition: all 0.3s ease-in;
    }
  }
  .route-enter-to,
  .route-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px; //1rem
    .page-content {
      padding: 50px 200px 50px;
    }
  }
}

@include media-breakpoint-down(md) {
  html {
    font-size: 14px; //1rem
    .fixed-sm-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 999;
    }
    .page-content {
      padding: 60px 50px;
    }
  }
}
